.row clearfix{
    height: 100px;
    width: 33.33333333%;



}
.col-md-12 column{

    border-style: none;
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}
h2{
    /*height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p{
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:11;
}
