<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Yuan-Programmer" />
	<title>后台管理</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
	<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="/css/animate.min.css" rel="stylesheet">
	<link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	<script src="/js/jquery.min.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div class="box float-e-margins">
				<div class="ibox-title">
					<h5>用户管理</h5>
					<div class="ibox-tools">
						<button id="addUserBtn" class="btn btn-xs btn-rounded btn-primary"><i class="fa fa-plus"></i> 添加</button>
					</div>
				</div>
				<div class="ibox-content">
					<div class="input-group">
						<input id="search" type="text" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
                                <button id="findBtn" type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"> 搜索</i> </button> </span>
					</div>
					<table class="footable table table-stripped toggle-arrow-tiny">
						<thead>
						<tr>
							<th>编号</th>
							<th>邮箱</th>
							<th>密码</th>
							<th>注册时间</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody id="userTable">
						<!-- User data will be dynamically loaded here -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add User Modal -->
<div id="modal-form-add" class="modal fade" aria-hidden="true">
	<!-- Modal content -->
</div>

<!-- Update User Modal -->
<div id="modal-form-update" class="modal fade" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12 b-r">
						<div class="ibox-title">
							<h5>修改用户信息</h5>
						</div>
						<div class="ibox-content">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">用户名：</label>
									<div class="col-sm-8">
										<input id="updateEmail" type="text" placeholder="用户邮箱" class="form-control" maxlength="6">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">密码：</label>
									<div class="col-sm-8">
										<input id="updatePassword" type="text" placeholder="密码" class="form-control" maxlength="6">
									</div>
								</div>
								<div>
									<button id="updateSubmitBtn" class="btn btn-primary btn-primary pull-right m-t-n-xs" type="button"><i class="fa fa-check"></i>&nbsp;提交</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/js/content.min.js?v=1.0.0"></script>
<script src="/js/plugins/iCheck/icheck.min.js"></script>
<script src="/js/demo/peity-demo.min.js"></script>
<script>
	$(document).ready(function() {
		// Load initial user data
		loadUserData();

		// Search functionality
		$('#findBtn').click(function() {
			var searchKeyword = $('#search').val();
			searchUserData(searchKeyword);
		});

		// Add user functionality
		$('#addUserBtn').click(function() {
			// Show the add user modal
		});

		// Update user functionality
		$(document).on('click', '.updateUserBtn', function() {
			var userId = $(this).data('user-id');
			var userEmail = $(this).data('user-email');
			var userPassword = $(this).data('user-password');

			// Show the update user modal
			$('#modal-form-update').modal('show');

			// Populate the form fields with user data
			$('#updateEmail').val(userEmail);
			$('#updatePassword').val(userPassword);

			// Add an event listener for the update submit button
			$('#updateSubmitBtn').click(function() {
				var updatedEmail = $('#updateEmail').val();
				var updatedPassword = $('#updatePassword').val();

				// Send an AJAX request to update the user data on the server
				$.ajax({
					url: '/user/update/' + userId,
					type: 'PUT',
					data: {
						email: updatedEmail,
						password: updatedPassword
					},
					success: function(data) {
						// Reload the user data after successful update
						loadUserData();
						// Close the modal
						$('#modal-form-update').modal('hide');
					},
					error: function(error) {
						console.log('Error updating user data:', error);
					}
				});
			});
		});

		// Delete user functionality
		$(document).on('click', '.deleteUserBtn', function() {
			var userId = $(this).data('user-id');
			deleteUserData(userId);
		});
	});

	function loadUserData() {
		// Fetch user data from the server using AJAX and populate the user table
		$.ajax({
			url: '/user/list',
			type: 'GET',
			success: function(data) {
				populateUserTable(data);
			},
			error: function(error) {
				console.log('Error fetching user data:', error);
			}
		});
	}

	function searchUserData(keyword) {
		// Fetch user data based on the search keyword using AJAX and populate the user table
		$.ajax({
			url: '/user/search',
			type: 'GET',
			data: { keyword: keyword },
			success: function(data) {
				populateUserTable(data);
			},
			error: function(error) {
				console.log('Error searching user data:', error);
			}
		});
	}

	function populateUserTable(userData) {
		var tableBody = $('#userTable');
		tableBody.empty();

		$.each(userData, function(index, user) {
			var row = $('<tr></tr>');
			row.append('<td>' + user.id + '</td>');
			row.append('<td>' + user.email + '</td>');
			row.append('<td>' + user.password + '</td>');
			row.append('<td>' + user.activationTime + '</td>');
			row.append('<td><button class="updateUserBtn btn btn-warning btn-xs btn-rounded" data-user-id="' + user.id + '" data-user-email="' + user.email + '" data-user-password="' + user.password + '"><i class="fa fa-edit"></i> 修改</button> <button class="deleteUserBtn btn btn-danger btn-xs btn-rounded" data-user-id="' + user.id + '"><i class="fa fa-trash"></i> 删除</button></td>');
			tableBody.append(row);
		});
	}

	function deleteUserData(userId) {
		// Send a DELETE request to the server to delete the user
		$.ajax({
			url: '/user/delete/' + userId,
			type: 'DELETE',
			success: function(data) {
				// Reload the user data after successful deletion
				loadUserData();
			},
			error: function(error) {
				console.log('Error deleting user data:', error);
			}
		});
	}
</script>
</body>
</html>