<!DOCTYPE html>
<html lang="en">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="app-4.css" type="text/css">-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app-4">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">首页</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">事件追踪</a>
                        </li>
                        <li>
                            <a href="#">新闻传播链</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">热点预测<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </div>

            </nav>
            <div class="jumbotron">
                <h1>
                    欢迎来到舆情分析平台
                </h1>
                <p>
                    这是一个关注新闻事件来龙去脉，尽可能还原事件真相的平台。能够帮助分析新闻事件，甚至预测舆论走向......
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">了解更多</a>
                </p>
            </div>
        </div>
    </div>
    <div class="1">
        <div class="col-md-4 column" v-for="item in lists" >
            <h2 title="需要涉及到获取文字在标签宽度下的实际高度，动态加上css控制溢.平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，组件接受两个参数，value：展示的文字内容，row：最多展示几行（需要给组件设置宽度）.">
                需要涉及到获取文字在标签宽度下的实际高度，动态加上css控制溢.平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，组件接受两个参数，value：展示的文字内容，row：最多展示几行（需要给组件设置宽度）.
            </h2>
            <p>
                平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，而且还会遇到鼠标hover时展示省略的部分，考虑用vue封装成公用的组件。
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column" v-for="item in lists">
            <h2>
                 灌灌灌灌
            </h2>
            <p>
                组件接受两个参数，value：展示的文字内容，row：最多展示几行（需要给组件设置宽度），同时在body插入了一个div，hover展示文字的全部内容。修改箭头所指的为当前内容即可。如何没有该选项，maven clean 和 compile 完毕即可看到该内容。平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，而且还会遇到鼠标hover时展示省略的部分，考虑用vue封装成公用的组件。平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，而且还会遇到鼠标hover时展示省略的部分，考虑用vue封装成公用的组件。平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，而且还会遇到鼠标hover时展示省略的部分，考虑用vue封装成公用的组件。平常做项目总会遇到文字太长，有的显示1行，超出隐藏，有的显示两行，而且还会遇到鼠标hover时展示省略的部分，考虑用vue封装成公用的组件。
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column" v-for="item in lists">
            <h2>
                组件接受两个参数，value：展示的文字内容，row：最多展示几行（需要给组件设置宽度），同时在body插入了一个div,组件接受两个参数，value：展示的文字内容
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
</div>


<script type="text/javascript">
    Vue.http.options.emulateJSON = true;
    var vm=	new Vue({
        el: '#app-4',
        data: {
            lists: [],
            chosetotalcount: 0,
            checkAll: false,
            addcontractor: {
                userid: '',
                contacts: '',
                Phone: '',
                mail: '',
                weixinnumber: '',
                adress: '',
                id: null
            }


        },
        mounted: function () {
            this.$nextTick(function () {
                this.getList();
            });
        },
        methods: {
            addconnector:function(){
                this.$http.post('/InsertConn',JSON.stringify(this.addcontractor),
                    {emulateJSON: true
                    }).then(function(response) {
                    // 这里是处理正确的回调

                    console.log(response);
                }, function(response) {
                    // 这里是处理错误的回调
                    alert("添加失败");
                });


            },
            getList: function () {
                var _this = this;
                this.$http.get("/getConnectbooInfo").then(function (response) {
                    _this.lists = response.data;
                    alert("成功" + _this.lists);
                }, function (errormessage) {
                    alert("失败" + +errormessage);
                });
            }
        }
    }

</script>
<style>
    .1{
        height: 100px;
        width: 33.33333333%;



    }
    .col-md-4 column{

        border-style: none;
        /*overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;*/
    }
    h2{
        /*height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:3;*/
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p{
        height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:11;
    }

</style>

</body>
</html>
